<div class="max-w-xl">
  {{ form_start(form) }}
  {{ form_row(form.yearAcademic) }}
  {{ form_row(form.price) }}
  {{ form_row(form.programme) }}
  {{ form_row(form.max_number_installment) }}

  <twig:Button type="submit">
    Sauvegarder
  </twig:Button>
  {{ form_end(form) }}
</div>