{% extends 'layouts/admin.html.twig' %}
{% block title "Mon profil" %}
{%block body %}

{{ form_start(form) }}

<div class="flex flex-col gap-5">
  <twig:Card>
    <div class="max-w-xl mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
        Information du profil
      </h1>
    </div>
    <div class="max-w-xl ">
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
    </div>
  </twig:Card>

  <twig:Card>
    <div class="max-w-xl mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
        Mot de passe
      </h1>
      <p class="text-sm text-muted-foreground">
        Lorem ipsum dolor sit amet consectetur adipos quaerat iure
        quibusdam molestias voluptatibus non sit dolor.
      </p>
    </div>
    <div class="max-w-xl ">
      {{ form_row(form.password) }}
    </div>
    <twig:Button type="submit">
      Sauvegarder
    </twig:Button>

  </twig:Card>

</div>


{{ form_end(form) }}

{% endblock %}