{% extends 'layouts/student.html.twig' %}
{% block title "Mon profil" %}
{%block body %}

{{ form_start(form) }}
<div class="flex flex-col gap-5">

  <div class="max-x-md mx-auto">
    <twig:Card class="flex items-center justify-center flex-col">
      <div class="relative flex h-16 w-16 cursor-pointer mb-3 shrink-0 overflow-hidden rounded-full">
        {% if app.user.filePath %}
        <img src="{{ vich_uploader_asset(app.user, 'file') }}">
        {% else %}
        <img class="aspect-square h-full w-full" src="/images/default-user.png" alt="">
        {% endif %}
      </div>
      <twig:Badge type="outline">
        Etudiant
      </twig:Badge>
    </twig:Card>
  </div>

  <twig:Card>
    <div class="max-w-xl mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
        Information du profil
      </h1>
    </div>
    <div class="max-w-xl ">
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
    </div>
  </twig:Card>

  <twig:Card>
    <div class="max-w-xl mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
        Mot de passe
      </h1>
      <p class="text-sm text-muted-foreground">
        Lorem ipsum dolor sit amet consectetur adipos quaerat iure
        quibusdam molestias voluptatibus non sit dolor.
      </p>
    </div>
    <div class="max-w-xl ">
      {{ form_row(form.password) }}
    </div>
    <twig:Button type="submit">
      Sauvegarder
    </twig:Button>

  </twig:Card>
  <twig:Card>
    <div class="max-w-xl mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
        Identification par Qrcode
      </h1>
      <p class="text-sm text-muted-foreground mb-2">
        Si vous envisagez de supprimer votre compte, nous vous encourageons à contacter l'administrateur principal. Il
        sera en mesure de vous fournir des informations supplémentaires sur les implications de cette décision et de
        vous
        guider dans le processus. Veuillez garder à l'esprit que la suppression de votre compte est une action
        irréversible, et toutes les données associées seront définitivement perdues.
      </p>
    </div>
    <div class="max-w-xl ">
      <img width="200px" height="200px" src="{{ vich_uploader_asset(app.user.student, 'identificator') }}">
    </div>
  </twig:Card>

  <twig:Card>
    <div class="max-w-xl mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
        Suppression du compte
      </h1>
      <p class="text-sm text-muted-foreground mb-2">
        Si vous envisagez de supprimer votre compte, nous vous encourageons à contacter l'administrateur principal. Il
        sera en mesure de vous fournir des informations supplémentaires sur les implications de cette décision et de
        vous
        guider dans le processus. Veuillez garder à l'esprit que la suppression de votre compte est une action
        irréversible, et toutes les données associées seront définitivement perdues.
      </p>
    </div>
  </twig:Card>



</div>

{{ form_end(form) }}

{% endblock %}