<div class="max-w-xl">
      {{ form_start(form) }}
      {{ form_row(form.start_at) }}
      {{ form_row(form.end_at) }}
      {{ form_row(form.yearAcademics) }}
      {{ form_row(form.description) }}

      <twig:Button type="submit">
        Sauvegarder
      </twig:Button>
      {{ form_end(form) }}
  </div>