{% extends 'layouts/student.html.twig' %}
{% block title "Tableau de bord" %}
{% block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Liste des départements
    </h1>
  </div>

  <div class="flex items-center justify-start gap-x-3 mb-4">
    <twig:Search placeholder="Rechercher un département" />
  </div>

  <twig:Table>
    <twig:TableHeader>
      <twig:TableRow>
        <twig:TableHead> Nom </twig:TableHead>
        <twig:TableHead> Alias </twig:TableHead>
        <twig:TableHead> Faculté </twig:TableHead>
        <twig:TableHead> Créer </twig:TableHead>
      </twig:TableRow>
    </twig:TableHeader>

    <twig:TableBody>
      {% for department in departments %}
      <twig:TableRow>
        <twig:TableCell>
          <a class="hover:underline" href="{{ path('#department.show', {id: department.id}) }}">
            {{ department.name|u.truncate(40, '...', false)}}
          </a>
        </twig:TableCell>
        <twig:TableCell>
          <a class="hover:underline" href="{{ path('#department.show', {id: department.id}) }}">
            {{ department.alias|u.truncate(20, '...', false)}}
          </a>
        </twig:TableCell>
        <twig:TableCell>
          <a class="hover:underline" href="{{ path('#faculty.show', {id: department.faculty.id}) }}">
            {{ department.faculty.name|u.truncate(40, '...', false)}}
          </a>
        </twig:TableCell>
        <twig:TableCell>
          {{ department.createdAt | ago }}
        </twig:TableCell>
      </twig:TableRow>
      {% endfor %}
    </twig:TableBody>
  </twig:Table>

  <div>
    {{ knp_pagination_render(departments) }}
  </div>
</twig:Card>
{% endblock %}