<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %} Welcome {% endblock %} - Haraka</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
  {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body>
  <div class="h-full relative" id="swup">
    <header
      class="backdrop-blur border-b border-gray-200 dark:border-gray-800 -mb-px sticky top-0 z-50 lg:mb-0 lg:border-0">
      <div class="container">
        <twig:Container>
          <div class="flex h-14  items-center">

            <div class="mr-4 hidden md:flex">
              <div class="mr-4">
                {% include 'shared/logo.html.twig' with {homeUrl: path('dashboard.index')} %}
              </div>

              <nav class="flex items-center gap-4 text-sm lg:gap-6">
                <twig:Navigation href="{{ path('welcome') }}">Acceuil</twig:Navigation>
                <twig:Navigation href="{{ path('page.about') }}">A propos</twig:Navigation>
                <twig:Navigation href="{{ path('doc.index') }}">Documentation</twig:Navigation>

                <twig:Navigation href="{{ path('contact.index') }}">Contact</twig:Navigation>
              </nav>
            </div>



            <div class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
              <div class="md:hidden">
                <div class="relative" id="dropdown-menu">
                  <button id="dropdown-trigger" class="h-8 w-8 rounded-md border border-gray-300">
                    <i class="bi bi-text-left"></i>
                  </button>

                  <div id="dropdown-content"
                    class="absolute z-30 left-0 mt-2 w-[300px] h-[250px] rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu">
                      <a href="{{ path('welcome') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">Accueil</a>
                      <a href="{{ path('page.about') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">A propos</a>
                      <a href="{{ path('doc.index') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">Documentation</a>
                      <a href="{{ path('contact.index') }}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Nous
                        contacter</a>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="flex items-center gap-x-4">
                {% if app.user %}
                {% set user = app.user %}
                <div class="relative" id="dropdown-menu">
                  {% include "shared/profiler-trigger.html.twig" with {user: user} %}
                  <div id="dropdown-content"
                    class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                    <div class="py-1" role="menu" aria-orientation="vertical">
                      <div class="px-4 py-2 text-sm text-gray-700 font-medium">Mon compte</div>
                      <hr class="my-1">
                      {% if user.roles|isAdmin %}
                      <a href="{{ path('dashboard.index') }}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Tableau de
                        bord</a>
                      {% endif %}
                      {% if app.user is not null and app.user.roles|isStudent %}
                      <a href="{{ path('#dashboard') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">Tableau de bord</a>
                      {% endif %}
                      {% if app.user is not null and app.user.roles|isChecker %}
                      <a href="{{ path('^dashboard') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">Tableau de bord</a>
                      {% endif %}
                      <hr class="my-1">
                      {% include "shared/action-logout.html.twig" %}

                    </div>
                  </div>
                  {% else %}
                  <twig:Button href="{{ path('app_login') }}" variant="link" size="default">
                    Se connecter <span aria-hidden="true">&rarr;</span>
                  </twig:Button>
                  {% endif %}
                </div>
              </nav>
            </div>
          </div>
        </twig:Container>
      </div>
    </header>

    <main class="relative z-40">
      <div class="relative">
        {% block hero %}{% endblock %}
      </div>
      {% block body %}{% endblock %}
    </main>

    <footer class="py-8 px-4" id="footer">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto max-w-4xl">
          <div>
            <h2 class="text-xl font-semibold mb-4 text-gray-700">
              A propos
            </h2>
            <p class="mb-4 text-sm text-muted-foreground">
              Dans le cadre de mon mémoire, j’ai développé une application web de contrôle des frais académiques à
              l’aide de QR codes pour l’Université de Kinshasa.
            </p>
            {% include "shared/socials.html.twig" %}
          </div>
          <div class="flex md:justify-end">
            <div>
              <h2 class="text-xl font-semibold mb-4">Me contacter</h2>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="hover:underline flex gap-x-2">
                    <i class="bi bi-envelope text-blue-500 hover:text-blue-600"></i>
                    <span class="text-muted-foreground">
                      Par e-mail</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="hover:underline flex gap-x-2">
                    <i class="bi bi-whatsapp text-green-500 hover:text-green-600"></i>
                    <span class="text-muted-foreground">
                      Par Whatsapp</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="hover:underline flex gap-x-2">
                    <i class="bi bi-lock text-red-500 hover:text-red-600"></i>
                    <span class="text-muted-foreground">
                      Politique de confidentialité
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8 text-center text-sm">
        <span>developped by </span>
        <a href="https://www.infomaniak.com" class="text-slate-400 hover:underline">padoda</a>
      </div>
    </footer>
  </div>
</body>

</html>