<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Tableau de bord{% endblock %} - Haraka</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="min-h-screen transition-colors duration-300">
    <div class="grid min-h-screen w-full md:grid-cols-[220px_1fr] lg:grid-cols-[280px_1fr]">
        <!-- Sidebar Menu -->
        <div id="sidebarMenu" class="hidden border-r bg-muted/40 md:block">
            <div class="flex h-full max-h-screen flex-col gap-2">
                <div class="flex h-14 items-center border-b px-4 lg:h-[60px] lg:px-6">
                    {% include 'shared/logo.html.twig' with {homeUrl: path('dashboard.index')} %}
                    <button class="ml-auto h-8 w-8 rounded-md border border-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="h-4 w-4 mx-auto">
                            <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path>
                            <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path>
                        </svg>
                    </button>
                </div>
                <nav class="grid items-start px-4 text-sm font-medium">
                    <a href="{{ path('#dashboard') }}"
                        class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="h-4 w-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Tableau de bord
                    </a>
                    <div class="relative" id="dropdown-menu">
                        <button id="dropdown-trigger"
                            class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900">
                            <i class="bi bi-backpack4"></i>
                            Paiement
                        </button>
                        <div id="dropdown-content"
                            class="absolute z-30 left-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu">
                                <a href="{{ path('#paid.index') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Historique de paiement</a>
                                <a href="{{ path('#paid.index') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Dernier paiement</a>
                            </div>
                        </div>
                    </div>

                    <div class="relative" id="dropdown-menu">
                        <button id="dropdown-trigger"
                            class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900">
                            <i class="bi bi-toggles2"></i>
                            Contrôle
                        </button>
                        <div id="dropdown-content"
                            class="absolute z-30 left-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu">
                                <a href="{{ path('#checker.index') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Vérificateur</a>
                                <a href="{{ path('#expense-control.index') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                    Condition de vérification
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="{{ path('#assignment.index') }}"
                        class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900">
                        <i class="bi bi-arrow-repeat"></i>
                        Affectation
                    </a>
                </nav>
            </div>
        </div>

        <!-- Main Content -->
        <div class="flex flex-col">
            <!-- Responsive Menu -->
            <header class="flex h-14 items-center gap-4 border-b bg-muted/40 px-4 lg:h-[60px] lg:px-6">
                <button id="menuToggle" class="h-8 w-8 rounded-md border border-gray-300 md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-4 w-4 mx-auto">
                        <line x1="4" x2="20" y1="12" y2="12"></line>
                        <line x1="4" x2="20" y1="6" y2="6"></line>
                        <line x1="4" x2="20" y1="18" y2="18"></line>
                    </svg>
                </button>
                <div class="flex-1">
                    <button type="button" role="switch" aria-checked="true" data-state="checked" value="on"
                        class="peer inline-flex h-6 w-11 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=unchecked]:bg-input"><span
                            data-state="checked"
                            class="pointer-events-none block h-5 w-5 rounded-full bg-background shadow-lg ring-0 transition-transform data-[state=checked]:translate-x-5 data-[state=unchecked]:translate-x-0"></span></button>
                </div>
                <div class="relative" id="dropdown-menu">
                    <button id="dropdown-trigger"
                        class="h-8 w-8 rounded-full bg-gray-200 flex items-center justify-center">
                        {% include "shared/profiler-trigger.html.twig" with {user: app.user} %}
                    </button>
                    <div id="dropdown-content"
                        class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                        <div class="py-1" role="menu" aria-orientation="vertical">
                            <div class="px-4 py-2 text-sm text-gray-700 font-medium">Mon compte</div>
                            <hr class="my-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                role="menuitem">Paramètres</a>
                            <a href="{{ path('welcome') }}"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Voir le
                                site</a>
                            <a href="{{ path('profile.student') }}"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Mon
                                profile</a>
                            <a href="{{ path('#qrcode.index') }}"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                Qrcode de paiement</a>
                            <hr class="my-1">
                            {% include "shared/action-logout.html.twig" %}
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content Area -->
            <main class="flex flex-1 flex-col gap-4 p-4 lg:gap-6 lg:p-6">
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>
</body>

</html>