<div class="max-w-xl">
  {{ form_start(form) }}
  {{ form_row(form.yearAcademic) }}
  {{ form_row(form.paymentMethod) }}
  {{ form_row(form.faculties) }}

  <twig:Button type="submit">
    Sauvegarder
  </twig:Button>
  {{ form_end(form) }}
</div>