{% extends 'layouts/admin.html.twig' %} {% block title "Tous les étudiants par
rapport à la promotion" %} {% block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Tous les étudiants par rapport à la promotion
    </h1>
  </div>

  <div class="flex items-center justify-start gap-x-3 mb-4">
    {% include 'admin/level/_form-student.html.twig' with {form: form} %}
  </div>

  <div>
    {% for level in levels %}
    <div class="mb-4">
      <h2 class="mb-2 text-sm font-semibold text-muted-foreground">
        <a
          class="hover:underline"
          href="{{ path('~level.show', { id: level.id }) }}"
        >
          {{ level.programme.name }} {{ level.sector.alias }} -
          <span>{{ level.yearAcademic.name }}</span>
        </a>
      </h2>
      <div class="h-[2px] w-full bg-slate-50 rounded-lg"></div>

      <twig:Table>
        <twig:TableHeader>
          <twig:TableRow>
            <twig:TableHead> Nom </twig:TableHead>
            <twig:TableHead> Postnom </twig:TableHead>
            <twig:TableHead> Date de naissance </twig:TableHead>
            <twig:TableHead> Sexe </twig:TableHead>
            <twig:TableHead> Téléphone </twig:TableHead>
            <twig:TableHead> Créer </twig:TableHead>
            <twig:TableHead> ... </twig:TableHead>
          </twig:TableRow>
        </twig:TableHeader>

        <twig:TableBody>
          {% for student in level.students %}
          <twig:TableRow>
            <twig:TableCell>
              <a class="hover:underline" href="">
                {{ student.name|u.truncate(40, '...', false)}}
              </a>
            </twig:TableCell>

            <twig:TableCell>
              <a class="hover:underline" href="">
                {{ student.firstname|u.truncate(40, '...', false)}}
              </a>
            </twig:TableCell>

            <twig:TableCell>
            <a class="hover:underline" href="">
                {{ student.happy.format('Y-m-d') }}
              </a>
            </twig:TableCell>
            <twig:TableCell>
              <a class="hover:underline" href="">
                {{ student.gender.value }}
              </a>
            </twig:TableCell>

            <twig:TableCell>
              <a class="hover:underline" href="">
                {{ student.numberPhone }}
              </a>
            </twig:TableCell>
    

            <twig:TableCell>
              {{ student.createdAt | ago }}
            </twig:TableCell>

            <twig:TableCell>
              <twig:Button variant="outline" href="">
                <i class="bi bi-eye"></i>
              </twig:Button>
            </twig:TableCell>
          </twig:TableRow>
          {% endfor %}
        </twig:TableBody>
      </twig:Table>
    </div>
    {% endfor %}
  </div>

  <div>
    {{ knp_pagination_render(levels) }}
  </div>
</twig:Card>
{% endblock %}
