<twig:Card>
  <div class="mb-2">
    <div class="max-w-lg mb-2">
      <h1 class="mb-3 text-sm font-semibold text-slate-700 dark:text-gray-300">
        Historique de paiement
      </h1>
    </div>
    <div class="mb-3">
      <twig:Table>
        <twig:TableHeader>
          <twig:TableRow>
            <twig:TableHead> Tranche </twig:TableHead>
            <twig:TableHead> Payé </twig:TableHead>
            <twig:TableHead> Date d'écheance </twig:TableHead>
            <twig:TableHead>

            </twig:TableHead>
          </twig:TableRow>
        </twig:TableHeader>

        <twig:TableBody>
          {% for payment in payments %}
          <twig:TableRow>
            <twig:TableCell>
              {{ payment.installment.price|number_format(2, '.', ',') }} FC
            </twig:TableCell>
            <twig:TableCell>
              <twig:Badge type="{{ payment.paid ? 'success' : 'destructive' }}">
                {{ payment.paid ? 'Oui' : 'Non' }}
              </twig:Badge>
            </twig:TableCell>
            <twig:TableCell>
              {% if payment.paymentAt is not null %}
              {{ payment.paymentAt.format('d-m-Y H:i') }}
              {% else %}
              .....
              {% endif %}
            </twig:TableCell>
            <twig:TableCell>
              {% if payment.paid != true %}
              <form onsubmit="return confirm('Voulez-vous vraiment effectué cette action ?')"
                action="{{ path('@installment', {id: payment.id}) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('totality') }}">
                <twig:Button variant="default">
                  <div class="flex items-center gap-x-1">
                    <i class="bi bi-cash"></i>
                    <span>Payer</span>
                  </div>
                </twig:Button>
              </form>
    </div>

    {% endif %}
    </twig:TableCell>
    </twig:TableRow>
    {% endfor %}
    </twig:TableBody>
    </twig:Table>
  </div>
  <div class="mb-3">

    <twig:Table>
      <twig:TableHeader>
        <twig:TableRow>
          <twig:TableHead>
            {% if paid.state|isTotality %}
            <div></div>
            {% else %}
            <div class="flex items-center justify-start">
              <form onsubmit="return confirm('Voulez-vous vraiment effectué cette action ?')"
                action="{{ path('@totality', {id: paid.id}) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('totality') }}">
                <twig:Button variant="default">
                  <div class="flex items-center gap-x-1">
                    <i class="bi bi-cash"></i>
                    <span>Payer la totalité</span>
                  </div>
                </twig:Button>
              </form>
            </div>
            {% endif %}

          </twig:TableHead>
          <twig:TableHead> Total payé </twig:TableHead>
          <twig:TableHead> Total à payer </twig:TableHead>
        </twig:TableRow>
      </twig:TableHeader>

      <twig:TableBody>
        <twig:TableRow>
          <twig:TableCell></twig:TableCell>
          <twig:TableCell>
            {{ paidPayments|number_format(2, '.', ',') }} FC
          </twig:TableCell>
          <twig:TableCell>
            {{ unPaidPayments|number_format(2, '.', ',') }} FC
          </twig:TableCell>
          <twig:TableCell>
          </twig:TableCell>
          <twig:TableCell>
          </twig:TableCell>
        </twig:TableRow>
      </twig:TableBody>

    </twig:Table>
  </div>
  </div>
</twig:Card>