<div class="max-w-xl">
  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.firstname) }}
  {{ form_row(form.gender) }}
  {{ form_row(form.number_phone) }}

  <twig:Button type="submit">
    Sauvegarder
  </twig:Button>
  {{ form_end(form) }}
</div>