<div class="max-w-xl">
      {{ form_start(form) }}
      {{ form_row(form.faculty) }}
      {{ form_row(form.expenseControl) }}
      {{ form_row(form.checkers) }}

      <twig:Button type="submit">
        Sauvegarder
      </twig:Button>
      {{ form_end(form) }}
  </div>