{% extends 'layouts/admin.html.twig' %} {% block title "Tableau de bord" %} {%
block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Gestion des affectations
    </h1>
  </div>

  <div class="flex items-center justify-between gap-x-5 mb-4">
    {% include 'admin/assignment/_form-filter.html.twig' with {form: form} %}

    <twig:Button size="default" href="{{ path('~assignment.create') }}">
      <i class="bi bi-plus"></i>
    </twig:Button>
  </div>

  <twig:Table>
    <twig:TableHeader>
      <twig:TableRow>
        <twig:TableHead> Faculté </twig:TableHead>
        <twig:TableHead> Référence </twig:TableHead>
        <twig:TableHead> Vérificateurs </twig:TableHead>
        <twig:TableHead> Créer </twig:TableHead>
        <twig:TableHead> ... </twig:TableHead>
      </twig:TableRow>
    </twig:TableHeader>

    <twig:TableBody>
      {% for assignment in assignments %}
      <twig:TableRow>
        <twig:TableCell>
          <a
            class="hover:underline"
            href="{{ path('~faculty.show', { id: assignment.faculty.id }) }}"
          >
            {{ assignment.faculty.name|u.truncate(40, '...', false)}}
          </a>
        </twig:TableCell>

        <twig:TableCell>
          <twig:Badge  type="secondary">
            <a
            class="hover:underline"
            href="{{ path('~expense-control.show', { id: assignment.expenseControl.id }) }}"
          >
            {{ assignment.expenseControl.startAt.format('d-m-Y') }} - {{ assignment.expenseControl.endAt.format('d-m-Y') }}
          </a>
        </twig:Badge>
       
        </twig:TableCell>

        <twig:TableCell>
          <twig:Badge  type="outline">
            {{ assignment.checkers.count }}
        </twig:Badge>
        </twig:TableCell>

        <twig:TableCell>
          {{ assignment.createdAt | ago }}
        </twig:TableCell>
        <twig:TableCell>
          {% include 'shared/action.html.twig' with {routeDelete:
          path('~assignment.delete', {id: assignment.id}), routeEdit:
          path('~assignment.edit', {id: assignment.id})} %}
        </twig:TableCell>
      </twig:TableRow>
      {% endfor %}
    </twig:TableBody>
  </twig:Table>

  <div>
    {{ knp_pagination_render(assignments) }}
  </div>
</twig:Card>
{% endblock %}
