{% extends 'layouts/admin.html.twig' %} {% block title "Tableau de bord" %} {%
block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Gestion des programmes
    </h1>
  </div>

  <div class="flex items-center justify-start gap-x-3 mb-4">
    <twig:Search placeholder="Rechercher un programme" />
  </div>

  <twig:Table>
    <twig:TableHeader>
      <twig:TableRow>
        <twig:TableHead> Nom </twig:TableHead>
        <twig:TableHead> Alias </twig:TableHead>
        <twig:TableHead> Créer </twig:TableHead>
      </twig:TableRow>
    </twig:TableHeader>

    <twig:TableBody>
      {% for programme in programmes %}
      <twig:TableRow>
        <twig:TableCell>
          <a class="hover:underline" href="{{ path('~programme.show', {id: programme.id}) }}">
          {{ programme.name|u.truncate(40, '...', false)}}
          </a>
        </twig:TableCell>

        <twig:TableCell>
          <a class="hover:underline" href="{{ path('~programme.show', {id: programme.id}) }}">
          {{ programme.alias|u.truncate(20, '...', false)}}
          </a>
        </twig:TableCell>

        <twig:TableCell>
          {{ programme.createdAt|ago }}
        </twig:TableCell>

      </twig:TableRow>
      {% endfor %}
    </twig:TableBody>
  </twig:Table>

  <div>
    {{ knp_pagination_render(programmes) }}
  </div>
</twig:Card>
{% endblock %}
