{{ form_start(form, {attr: {class: 'flex items-center gap-4'}}) }}
<div class="max-w-sm">
  {{ form_row(form.query) }}
</div>
<div class="max-w-sm">
  {{ form_row(form.yearAcademic) }}
</div>

<div class="max-w-sm">
  {{ form_row(form.expenseControl) }}
</div>


<twig:Button type="submit" size="default">
  <div class="flex items-center gap-x-2">
    <i class="bi bi-filter"></i>
    <span>Filtrer</span>
  </div>
</twig:Button>
{{ form_end(form) }}