<div class="max-w-xl">
      {{ form_start(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.alias) }}
      {{ form_row(form.faculty) }}

      <twig:Button type="submit">
        Sauvegarder
      </twig:Button>
      {{ form_end(form) }}
  </div>