{% extends 'layouts/auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if app.user %}
    <div class="mb-2">
        <twig:Card>
            <p class="mb-2 text-muted-foreground text-sm"> Vous êtes connecté en tant que <strong>{{ app.user.userIdentifier }}</strong></p>
            
            <twig:Button variant="outline" href="{{ path('app_logout') }}">Se décoonecter</twig:Button>
    </twig:Card>
        </div>
        {% else  %}
            
<twig:Card>
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="mb-3">
            <h1 class="h3 mb-3 font-weight-normal">
                    Authentification
                </h1>

                <p class="text-sm text-muted-foreground">
                    Connectez-vous pour gérer vos paiements académiques facilement.
                </p>
        </div>

        <div class="mb-3">
            <label for="username" class="block font-medium text-sm text-gray-700 dark:text-gray-300">Adresse e-mail</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-5"
            autocomplete="email" required autofocus>
        </div>

        <div class="mb-3">

        <label for="password" class="block font-medium text-sm text-gray-700 dark:text-gray-300">Mot de passe</label>
        <input type="password" name="_password" id="password" class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-5" autocomplete="current-password"
            required>
        </div>
      
        <div class="flex items-center gap-2 mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me" class="block font-medium text-sm text-gray-700 dark:text-gray-300">Se souvenir de moi</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

       <twig:Button type="submit">
        Se connecter
       </twig:Button>
    </form>
</twig:Card>
    {% endif %}

{% endblock %}