{% extends 'layouts/auth.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

{% if app.user %}
<div class="mb-2">
    <twig:Card>
        <p class="mb-2 text-muted-foreground text-sm"> Vous êtes connecté en tant que <strong>{{ app.user.userIdentifier
                }}</strong></p>

        <twig:Button variant="outline" href="{{ path('app_logout') }}">Se décoonecter</twig:Button>
    </twig:Card>
</div>
{% else %}

{% if error %}
<div role="alert"
    class="relative mb-2 w-full rounded-lg border p-4 [&amp;>svg~*]:pl-7 [&amp;>svg+div]:translate-y-[-3px] [&amp;>svg]:absolute [&amp;>svg]:left-4 [&amp;>svg]:top-4 border-destructive/50 text-destructive dark:border-destructive [&amp;>svg]:text-destructive">
    <p class="text-sm font-medium">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </p>
</div>
{% endif %}

<twig:Card>
    <form method="post">
        <div class="mb-3">
            <h1 class="h3 mb-3 font-weight-normal">
                Authentification
            </h1>

            <p class="text-sm text-muted-foreground">
                Connectez-vous pour gérer vos paiements académiques facilement.
            </p>
        </div>

        <div class="mb-3">
            <label for="username" class="block font-medium text-sm text-gray-700 dark:text-gray-300">Adresse
                e-mail</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username"
                class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-5"
                autocomplete="email" required autofocus>
        </div>

        <div class="mb-3">

            <label for="password" class="block font-medium text-sm text-gray-700 dark:text-gray-300">Mot de
                passe</label>
            <input type="password" name="_password" id="password"
                class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-5"
                autocomplete="current-password" required>
        </div>

        <div class="flex items-center gap-2 mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me" class="block font-medium text-sm text-gray-700 dark:text-gray-300">Se souvenir de
                moi</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <twig:Button type="submit">
            Se connecter
        </twig:Button>
    </form>
</twig:Card>
{% endif %}

{% endblock %}