<div class="max-w-xl">
  {{ form_start(form) }}
  {{ form_row(form.file) }}
  {{ form_row(form.name) }}
  {{ form_row(form.number_account) }}

  <twig:Button type="submit">
    Sauvegarder
  </twig:Button>
  {{ form_end(form) }}
</div>