<div class="max-w-xl">
  {{ form_start(form) }}
  {{ form_row(form.request) }}
  {{ form_row(form.response) }}
  {{ form_row(form.featured) }}

  <twig:Button type="submit">
    Sauvegarder
  </twig:Button>
  {{ form_end(form) }}
</div>